[Desktop Entry]
Name=Tools
Comment=A collection of handy developer tools
Exec=app.pastetools.Tools
Icon=app.pastetools.Tools
Type=Application
Terminal=false
Categories=Development;Qt;KDE;
Keywords=tool;converter;crypto;network;json;uuid;
